# ==== Python / Django ====
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.log
db.sqlite3

# Virtualenvs
venv/
backend/venv/

# Entornos / secretos
.env
*.env
.env.*

# Django estáticos y media (se generan o se almacenan fuera)
staticfiles/
media/

# ==== Node / Angular ====
node_modules/
dist/
.angular/
.env
npm-debug.log*
yarn-error.log*

# ==== IDE / SO ====
.vscode/
.idea/
.DS_Store

# ==== Tests / coverage ====
.pytest_cache/
.coverage
htmlcov/
coverage/

# ==== Otros ====
docs/
