<mat-sidenav-container class="layout-container">

  <mat-sidenav mode="side" opened class="sidebar">
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Inicio</a>
      <a mat-list-item routerLink="/clients">Clientes</a>
      <a mat-list-item routerLink="/dossiers">Expedientes</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      Agencia de Viajes
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
